asgiref==3.8.1
astunparse==1.6.3
boltons
brotlipy
certifi==2023.5.7
cffi
chardet==5.2.0
charset-normalizer
code2flow==2.5.1
colorama
conda-package-handling
conda_package_streaming
cryptography
dill==0.3.7
Django==4.2.16
idna
jsonpatch
jsonpointer==2.0
mysql-connector-python==8.4.0
packaging
pluggy
ply==3.11
psycopg2==2.9.9
psycopg2-binary==2.9.9
py2flowchart==0.0.2
pycosat
pycparser
pyflowchart==0.3.1
pyOpenSSL
PySocks
requests
ruamel.yaml
ruamel.yaml.clib
six==1.16.0
sqlparse==0.5.1
toolz
tqdm
typing_extensions==4.12.2
urllib3
zstandard==0.19.0
